
.table-page .steps-wrap::after {
	display: none;
}


.table-block {
	position: relative;
	max-width: 1650px;
	margin: 444px auto 295px auto;
	padding: 0 125px;
}


.table {
	color: #fff;
	font-family: $base-font-bold;
	font-size: 36px;
	outline: none;

	.table__row:not(:last-of-type) {
		margin-bottom: 15px;
	}

	.table__row.table__row--header {
		background-color: #375c8d;
		margin-bottom: 25px;
	}

	.table__row--header .table__cell--active p {
		color: #294b77;
		padding: .12em;
		background: $active-color;
		border-radius: .3em;
		width: 100%;
		text-align: center;
	}

	.table__row--header .author__name:hover {
		cursor: auto;
		color: #fff;
	}

	.table__row--header .table__cell--active::after{
		display: none;
	}

	.table__row {
		padding: 0 50px 0 20px;
		background-color: #294b77;
		border-radius: 0.5em;
	}

	.table__cell-wrap {
		height: 2.2em;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
	}

	.table__cell {
		display: -webkit-inline-flex;
		display: -moz-inline-flex;
		display: -ms-inline-flex;
		display: -o-inline-flex;
		display: inline-flex;
		justify-content: center;
		align-content: center;
		width: 100%;
	}



	.table__cell.success::before,
	.table__cell.fail::before,
	.table__cell.champion::before {
		content: '';
		position: absolute;
		width: 1em;
		height: 1em;
		top: 50%;
		transform: translateY(-50%);
		background: url('#{$img-src}nonoptimised/success_state.png') no-repeat center center / cover;
	}

	.table__cell.success::before {
		background-position-y: top;
	}

	.table__cell.fail::before {
		background-position-y: bottom;
	}

	.table__cell.champion::before {
		width: 1.3em;
		height: 1.5em;
		background: url('#{$img-src}nonoptimised/cup.png') no-repeat center center / contain;
	}

	.table__cell {
		position: relative;
	}

	.table__cell::after{
		content: '';
		position: absolute;
		top: calc((100% - 1.1em) / 2);
		height: 1.1em;
		right: -2px;
		width: 4px;
		border-radius: 5px;
		background: #fff;
	}

	.table__cell:nth-of-type(1)::after,
	.table__row--header .table__cell:first-child::after,
	.table__row--header .table__cell:nth-of-type(3)::after,
	.table__row--header .table__cell--active::after,
	.table__cell:nth-of-type(2)::after {
		display: none;
	}

	.table__cell.table__cell-number{
		max-width: 62px;
	}

	.table__cell.table__cell-photo {
		max-width: 88px;

	}

	.table__cell.table__cell-name {
		min-width: 275px;
		padding-left: 23px;
		justify-content: flex-start;
	}

}

.author__photo {
	width: 100%;
	max-width: 1.6em;
	height: auto;
	border-radius: 50%;
	background-color: #fff;
}

.author__name {
	position: relative;
	cursor: pointer;
	color: #fff;
	transition: color .2s;
}

.author__name:hover + .tooltip-progress {
	display: block;
}

.author__name:hover {
	color: $active-color-hover;
}

.tooltip-progress {
	display: none;
	position: absolute;
	width: 36vw;
	min-width: 340px;
	max-width: 660px;
	z-index: 11;
	left: 5px;
	bottom: calc(100% + 15px);
	padding: 30px 30px 35px 20px;
	border-radius: 1.2em;
	background-color: rgba(0, 0, 0, .6);

	p {
		position: relative;
		margin-left: 30px;
		font: 24px/1.5 $base-font;
	}

	p::before {
		content: '';
		position: absolute;
		left: -30px;
		top: 0.3em;
		width: 1em;
		height: 1em;
		background: url('#{$img-src}nonoptimised/success_state.png') no-repeat center center / cover;
	}

	.tooltip-progress__success {
		color: $success-color;
	}

	.tooltip-progress__fail {
		color: $fail-color;
	}

	.tooltip-progress__success::before {
		background-position-y: top;
	}

	.tooltip-progress__fail::before {
		background-position-y: bottom;
	}
}


.slider-table .slick-arrow.slick-prev {
	left: 25px;
}

.slider-table .slick-arrow.slick-next {
	right: 25px;
}

.slider-table .slick-arrow:hover {
	opacity: 1;
}

.slider-table .slick-arrow {
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(calc(-50% + 8px));
	font-size: 0;
	width: 47px;
	height: 83px;
	opacity: .33;
	cursor: pointer;
	transition: all 0.2s ease-out;
}

.slider-table .slick-arrow.slick-prev::before {
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

.slider-table .slick-arrow::before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background: url(#{$img-src}nonoptimised/arrow_slider.png) 50% 50% no-repeat;
	background-size: cover;
}


@media (max-width: $screen-xl) {
	.slider-table .slick-arrow {
		width: 32px;
		height: 57px;
	}

	.slider-table .slick-arrow.slick-prev {
		left: 50px;
	}

	.slider-table .slick-arrow.slick-next {
		right: 50px;
	}




	.table {
		font-size: 25px;
	}

	.tooltip-progress p {
		font-size: 20px;
	}
}

@media (max-width: $screen-lg) {
	.slider-table .slick-arrow {
		width: 23px;
		height: 41px;
	}


	.table-block {
		margin: 344px auto 220px auto;

	}

	.table {
		font-size: 18px;
	}

	.table .table__cell-wrap {
		height: 2.4em;
	}

	.table .table__row {
		padding-left: 7px;
		padding-right: 30px;
	}

	.table .table__cell.table__cell-number {
		max-width: 40px;
	}

	.table .table__cell.table__cell-photo {
		max-width: 50px;

	}

	.table .table__cell.table__cell-name {
		min-width: 140px;
	}

	.tooltip-progress p {
		font-size: 16px;
	}
}

@media (max-width: $screen-md) {

	.slider-table .slick-arrow.slick-prev {
		left: 25px;
	}

	.slider-table .slick-arrow.slick-next {
		right: 25px;
	}


	.slider-table .slick-arrow {
		transform: translateY(-40px);
	}


	.table-block {
		margin: 244px auto 120px auto;
		padding-left: 70px;
		padding-right: 70px;
	}

	.table .table__cell.table__cell-photo {
		min-width: 24px;
	}

	.table .table__cell.table__cell-name {
		padding-left: 10px;
		min-width: 120px;
	}
}

@media (max-width: $screen-sm) {

	.table-block {
		margin: 220px auto 47px;
	}

	.table__row.table__row--header span {
		display: none;
	}

	.table .table__row--header .table__cell--active p {
		color: #fff;
	}

	.table .table__cell::after {
		width: 1px;
		right: -1px;
	}
}

@media (max-width: $screen-xm) {
	.slider-table .slick-arrow.slick-prev {
		left: 3vw;
	}
	.slider-table .slick-arrow {
		top: calc(50% + 5px);
	}
	.slider-table .slick-arrow.slick-next {
		right: 3vw;
	}

	.slider-table .slick-arrow::before {
		width: 15px;
		height: 27px;
	}

	.tooltip-progress {
		left: -50%;
		min-width: 205px;
		max-width: none;
		padding: 10px 10px 10px 0px;
	}

	.tooltip-progress p {
		font-size: 10px;
		line-height: 1.25;
	}

	.tooltip-progress p::before {
		left: -17px;
		top: 0.3em;
		width: 1em;
		height: 1em;
	}

	.table-block {
		padding-left: 12vw;
		padding-right: 12vw;
		margin: 144px auto 40px auto;
	}


	.table .table__row--header .table__cell--active p {
		padding: 0.01em;
	}

	.table .table__row {
		padding-right: 15px;
	}

	.table {

		font-size: 12px;

		.table__row:not(:last-of-type) {
			margin-bottom: 5px;
		}

		.table__row.table__row--header {
			margin-bottom: 10px;
		}


		.table__cell.table__cell-number {
			margin-right: 3px;
			max-width: 18px;

		}

		.table__cell::after{
			top: calc(50% - 6px);
			height: 14px;
		}

		.table__cell.success::before,
		.table__cell.fail::before,
		.table__cell.champion::before {
			width: 12px;
			height: 12px;
		}

		.table__cell.champion::before {
			width: 15px;
			height: 17px;
		}


		.table__cell.table__cell-photo {
			max-width: 22px;

		}

		.table__cell.table__cell-name {
			min-width: 80px;
		}

	}


}
