.pink-bg {
    background-color: $lightPinkColor;
}


.mt-20 {
    margin-top: 20px;
    display: inline-block;
}

.views {
    padding-left: 20px;
    position: relative;
    white-space: nowrap;
    margin-left: 10px;
    color: $lightGrayColor;

    &::after {
        content: '';
        width: 15px;
        height: 15px;
        background: url('../../../images/nonoptimised/sprite-icons.png');
        position: absolute;
        left: 0;
        background-position-x: 24%;
        top: 0;
    }
}

.scrolled {

    padding-right: 10px;
    overflow-y: scroll;

    /* width */
    &::-webkit-scrollbar {
        width: 2px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background-color: $lightPinkColor;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $lightGrayColor;
        width: 4px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    &-b {
        height: 360px;
        overflow-y: scroll;
    }
}

.m-banner {
    display: flex;
    justify-content: center;
    img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
    }
}

.gallery-news {
    margin-bottom: 50px;
    ;
}

.time {
    margin-right: 15px;
    color: $accentColor;
}

.read-more {
    padding-right: 20px;
    position: relative;
    color: $accentColor;
    white-space: nowrap;
    text-decoration: none;

    &::after {
        content: '';
        width: 15px;
        height: 15px;
        background: url('../../../images/nonoptimised/sprite-icons.png');
        position: absolute;
        right: 0;
        background-position-x: 97%;
        top: 0;
    }
}

.main-text {
    background-color: $mainColor;
}

.text-main {
    background-color: $mainColor;
    color: #fff;
    @include mainText(10px);
}


// text with accent background
.text-accent {
    display: inline-block;
    @include accentText(10px);
}

.bg-pink {
    background-color: $lightPinkColor;
}

.d-block {
    display: block;
}

// tag
.tag {
    margin-bottom: 15px;
    margin-right: 10px;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    background-color: $accentColor;
    transition: background-color .3s;

    &:hover {
        background-color: darken($accentColor, 12);
    }
}

// pagination
.pagination {
    display: inline-flex;
    justify-content: flex-start;
}

.pagination {
    a {
        width: 30px;
        height: 30px;
        padding: 5px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        transition: .3s;
        color: $mainColor;
        border: 1px solid #8592A1;
        font-size: 12px;
        line-height: 1;

        &.active {
            background-color: $accentColor;
            color: white;
            border: 1px solid $accentColor;
        }

        &:hover {
            color: #fff;
            border: 1px solid $accentColor;
            background-color: $accentColor;
        }
    }
}


// ticker news 
.ticker {
    margin: 5px 0 40px;
    display: flex;
    justify-content: flex-start;

    &__ttl {
        @include accentText(10px);
        white-space: nowrap;
        text-transform: uppercase;
        font-family: $base-font-medium, sans-serif;
        position: relative;
        z-index: 9;
    }

    &__ttl~*>&__text {
        @include mainText($padding: 10px);
        display: block;
        width: 100%;
        padding-right: 265px;
        overflow: hidden;
        font-size: 16px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__arrows {}
}

//arrows
.arrow {
    position: absolute;
    top: 50%;
    right: 60px;
    transform: translateY(-50%);
    z-index: 99;

    &__left,
    &__right {
        position: absolute;
        color: #fff;
        height: 12px;
        width: 20px;
        top: 50%;
        transform: translateY(-50%);
        border-top: 10px solid;
        border: 10px solid;
        cursor: pointer;
        z-index: 1;
    }

    &__left {
        left: 0;
        border: 6px solid transparent;
        border-right: 15px solid;
    }

    &__right {
        border: 6px solid transparent;
        border-left: 15px solid;
        left: 30px;
    }
}

//footer last videos    
.last-videos {
    &__item {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 28px;
        color: #fff;
        text-decoration-color: transparent;
        transition: text-decoration-color .3s;

        &:hover {
            text-decoration-color: #fff;
        }
    }

    &__img {
        display: inline-block;
        width: 72px;
        height: auto;
    }

    &__right {
        margin-left: 20px;

        @media screen and (max-width: 750px) {
            margin-left: 10px;
        }
    }

    &__title {
        font-weight: normal;
    }

    &__ttl,
    &__desc {
        font-size: 14px;
    }
}

//gallery news
.gallery-news {
    &__ttl {
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
        color: #fff;
        background-color: $darkColor;
    }

    &__inner {
        display: flex;
        justify-content: flex-start;
        padding: 10px 0;
    }

    &__item {
        max-width: 245px;
    }

    &__item:not(:last-of-type) {
        margin-right: 10px;
    }

    img,
    video {
        display: block;
        width: 100%;
    }
}


// block last videos
.b-last-videos {
    padding: 40px 0;
    background-color: #141417;

    &__ttl {
        @include textUnderlined();
        padding-top: 0;
        padding-bottom: 10px;
        margin-bottom: 0;
        color: #fff;
    }

    &__inner {
        display: flex;
        align-items: center;

        &__ttl,
        img:not(:last-of-type) {
            margin-bottom: 20px;
        }
    }

    &__left {
        margin-right: 2%;
        width: 67%;
    }

    &__right {
        width: 30%;

        .video-block:not(:last-of-type) {
            margin-bottom: 4%;
        }
    }

    img {
        display: block;
        max-width: 100%;
    }
}

.accent-news {
    display: grid;
    grid-template-columns: 4.7fr 2.3fr 3fr;
    grid-template-areas: "a b c""a b d";
    grid-auto-rows: 215px;
    grid-gap: 10px;

    &__item {
        position: relative;
        padding: 20px 15px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-end;
        overflow: hidden;
        text-decoration: none;
        color: #fff;

        .tag {
            text-transform: uppercase;
            font-size: 19px;
            font-weight: 900;
            font-family: $base-font-black;
            margin-bottom: 10px;
        }

        &:hover img {
            transform: translate(-50%, -50%) scale(1.5);
        }

        &:nth-of-type(1) {
            grid-area: a;
        }

        &:nth-of-type(2) {
            grid-area: b;
        }

        &:nth-of-type(3) {
            grid-area: c;
        }

        &:nth-of-type(4) {
            grid-area: d;
        }
    }

    &__img {
        position: absolute;
        left: 50%;
        top: 50%;
        min-height: 100%;
        object-fit: cover;
        max-width: 100%;
        transform: translate(-50%, -50%);
        z-index: -1;
        transition: .3s;
    }

    &__ttl {
        padding: 5px;
        font-size: 16px;
        font-weight: normal;
        background-color: rgba(0, 0, 0, .5);
    }

    &__text {
        font-size: 16px;
        font-weight: normal;
    }
}

.broadcast-news {
    .side-news__inner {
        height: auto;
    }

    &__inner {
        display: grid;
        grid-gap: 12px;
        grid-template-columns: 1.2fr 1.2fr 1.2fr 1.4fr;
        // grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 'a b c e''a b c e''a b c e''a b c f''a b d f''a b d f';
    }

    &__tidings {
        .side-news__header {
            margin-bottom: 10px;
        }

        .side-news__header-bottom {
            padding: 10px;
        }

        grid-area: b;
    }

    &__side-block {
        .side-news__header-text {
            font-size: 18px;
        }

        &:first-of-type {
            grid-area: f;
        }

        &:last-of-type {
            grid-area: e;
        }
    }

    &__broadcast {
        grid-area: d;
    }

    &__about,
    &__popular,
    &__tidings,
    &__side-block,
    &__broadcast {
        // width: 296px;
        border: 1px solid $lightGrayColor;
    }

    &__about,
    &__popular {
        padding: 20px;
        position: relative;
        display: flex;
        flex-direction: column;
        color: #fff;
    }

    &__about {
        justify-content: space-between;
        grid-area: a;
        line-height: 1.5;

        &-ttl {
            font-size: 24px;
        }

        &-bg {
            @include adapiveImgAbsolute();
        }
    }

    &__popular {
        justify-content: flex-end;
        grid-area: c;

        &-bg {
            @include adapiveImgAbsolute();
        }
    }
}

.side-news__header {
    &-bottom {
        padding: 10px 0;
    }

    &-sub-ttl {
        margin-bottom: 10px;
        color: $accentColor
    }

    &-text {
        line-height: 1.5;
        font-family: $second-font-medium;
        font-size: 16px;
    }
}

.next-in {
    padding: 10px;

    &__item:not(:last-of-type) {
        margin-bottom: 10px;
    }

    &__ttl {
        @include textUnderlined();
    }

    &__time {
        color: $accentColor;
        border-right: 1px solid #000;
    }

    &__time,
    &__text {
        padding-right: 10px;
    }

    &__text {
        padding-left: 3px;
    }
}

.video-block {
    position: relative;
    padding-bottom: 56.25%;
    // margin-bottom: 55px;
    /* 16:9 */
    height: 0;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.main-nav {
    min-width: 194px;
    margin-right: 20px;

    &__link,
    &__inner-link {
        display: inline-block;
        padding: 5px;
        text-decoration: none;
        transition: .3s;
    }

    &__inner-list {
        display: none;
        margin-left: 30px;
    }

    &__link.active+&__inner-list {
        display: block;
    }

    &__list-item {
        margin: 5px 0;
    }

    &__inner-link {
        color: #000;
        text-decoration: underline;
        text-decoration-color: transparent;
    }

    &__inner-link:hover {
        text-decoration-color: #000;
    }

    &__link {
        position: relative;
        padding-left: 18px;
        color: $mainColor;
        text-transform: uppercase;
    }

    &__link::before {
        content: "\203A";
        position: absolute;
        width: 10px;
        height: 20px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    &__link:hover {
        color: $accentColor;
    }
}

.popular {
    margin-bottom: 40px;

    &__pagination {
        margin-top: 25px;
    }

    &__inner {
        display: flex;
        flex-flow: row wrap;
    }

    .tag {
        font-size: 19px;
        background-color: $mainColor;
        font-weight: 900;
        margin-bottom: 0;
    }

    &__item {
        min-width: 262px;
        width: calc((100% - 30px) / 3);
        margin-bottom: 15px;

    }

    &__item:not(:last-of-type) {
        margin-right: 15px;
    }

    &__top {
        position: relative;
        overflow: hidden;
        padding: 10px;
        height: 170px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
    }

    &__bottom {
        padding: 20px 15px;
        box-shadow: 0 0 2px $lightGrayColor;
    }

    &__bottom-t {
        height: 57px;
    }

    &__img {
        @include adapiveImgAbsolute();
    }

    &__ttl {
        font-size: 18px;
        font-family: "RobotoSlab-Regular", serif;
        font-weight: normal;
        margin-bottom: 10px;
        margin-top: 5px;
    }

    &__text {
        padding: 10px 0;
        line-height: 1.5;
        border-bottom: 1px solid $lightGrayColor;
    }

    &__b-text {
        margin-top: 12px;
        padding: 5px 0 7px;
        position: relative;
        text-transform: uppercase;
        font-size: 12px;
        color: $lightGrayColor;
    }

    &__b-text::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 30px;
        height: 2px;
        background-color: $accentColor;
    }
}