.post-date {
    color: #000;

    &__text {
        color: $lightGrayColor;
    }
}

.section-top {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    text-transform: uppercase;

    &__ttl,
    &__current {
        font-family: $base-font-medium;
        font-weight: normal;
        font-size: 20px;
    }

    &__ttl {
        padding: 8px 12px;
        color: #fff;
        background-color: $accentColor;
    }

    &__current {
        margin-left: 5px;

        &::before {
            content: "\203A";

            margin: 5px;
            font: inherit;
            font-size: 28px;
        }
    }
}

.new-posts {
    &-white-bg .scrolled {
        max-height: 1030px;
    }

    &-white-bg .new-posts__item {
        background-color: #fff;
        height: 160px;
    }

    &-white-bg .new-posts__item:not(:last-of-type) {
        margin-bottom: 15px;
    }

    &__item {
        height: 184px;
        display: flex;
        background-color: $lightPinkColor;
        text-decoration: none;
        color: initial;
        .new-posts__text {
            text-decoration: underline;
            text-decoration-color: transparent;
            transition: 0.3s;
        }
        & .new-posts__text:hover {
            text-decoration-color: inherit;
        }
    }

    &__item:not(:last-of-type) {
        margin-bottom: 20px;
    }

    &__left {
        // width: 325px;
        width: 47.47%;
        overflow: hidden;

        img {
            display: block;
            max-width: 100%;
        }
    }

    &__right {
        // width: calc(100% - 325px);
        width: 52.52%;
        padding: 8px 30px;
    }

    &__ttl {
        font-size: 18px;
        font-weight: normal;
        @include textUnderlined();
        margin-bottom: 10px;
    }

    &__text {
        margin-bottom: 5px;
        line-height: 1.5;
        color: #000;

        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        -ms-line-clamp: 2;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        display: -webkit-box;
        display: box;
        word-wrap: break-word;
        -webkit-box-orient: vertical;
        box-orient: vertical;
    }
}

.check {
    color: $accentColor;
}

.main {
    width: calc(100% - 430px);

    .section-top {
        margin-bottom: 25px;
    }
}

.dflex-spaceb {
    display: flex;
    justify-content: space-between;
    padding: 55px 15px;
}

.sidebar {
    width: 400px;
}

.main + .sidebar {
    margin-left: 30px;
}

.about-us {
    &__inner {
        display: flex;
        flex-flow: row wrap;
    }

    &__item {
        display: flex;
        width: calc((100% - 16px) / 2);
        justify-content: space-between;
        margin-bottom: 20px;

        &:not(:nth-of-type(even)) {
            margin-right: 16px;
        }

        background-color: $lightPinkColor;

        &-left {
        }

        &-left img {
            display: block;
        }

        &-right {
            padding: 15px;
        }

        &-ttl {
            margin-bottom: 10px;
            font-size: 18px;
        }

        &-text {
            margin-bottom: 5px;
            font-size: 14px;
            line-height: 1.5;
        }
    }
}

.p-50 {
    padding: 50px 0;
}

.error {
    min-height: 620px;
    background: url("../../../images/nonoptimised/rozetka.svg") no-repeat center 20px / 150% $lightPinkColor;
    text-align: center;

    &__ttl {
        margin-top: 40px;
        font-size: 109px;
        color: $accentColor;

        @media screen and (max-width: 990px) {
            font-size: 80px;
        }

        @media screen and (max-width: 600px) {
            font-size: 60px;
        }
    }

    &__sub-ttl,
    &__text {
        max-width: 400px;
        margin: auto;
        color: $mainColor;
        font-size: 20px;
    }

    &__sub-ttl {
        margin-bottom: 30px;
        text-transform: uppercase;
    }

    &__text {
        margin-bottom: 30px;
    }
}

.soon {
    text-align: center;
    background-color: $lightPinkColor;

    .soon__socials {
        margin-top: 0;
        padding: 0;
    }
    .subscribe__ttl {
        width: max-content;
        margin: 0 auto 20px;
    }

    &__ttl,
    &__sub-ttl {
        margin-bottom: 30px;
        text-transform: uppercase;
        font-weight: normal;
    }

    &__ttl {
        font-size: 28px;
        color: $mainColor;
        font-family: $base-font-light;
        font-weight: 300;
    }

    &__sub-ttl {
        font-size: 20px;
        color: $accentColor;
    }

    &__content {
        margin-bottom: 50px;
        background-color: #000;
    }

    &__inner {
        display: flex;
        max-width: 830px;
        margin: 0 auto;
    }

    &__item {
        padding: 30px 30px 15px;
        color: #fff;
    }

    &__item:not(:last-of-type) {
        border-right: 1px solid $lightGrayColor;
    }

    &__item-text,
    &__item-number {
        padding: 15px;
    }

    &__item-number {
        font-size: 114px;
        font-family: $base-font-medium;
        border-bottom: 1px solid $lightGrayColor;
    }

    &__item-text {
        font-size: 16px;
        text-transform: uppercase;
    }
}

.b-about {
    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__left {
    }

    &__left video {
        display: block;
    }

    &__right {
        padding: 15px 15px 15px 30px;
        background-color: $lightPinkColor;
    }

    &__ttl {
        font-size: 18px;
    }

    &__text {
        position: relative;
        padding-bottom: 8px;
        font-size: 14px;
        line-height: 1.5;

        &:not(:last-of-type)::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 1px;
            background-color: $lightGrayColor;
        }
    }
}

.redaction {
    &__ttl {
        @include mainText();
        text-transform: uppercase;
        font-size: 16px;
        border-left: 2px solid $accentColor;
    }
}

.article {
    padding: 10px 0;

    &__text {
        padding: 5px 0;
        font-size: 14px;
        line-height: 1.5;
    }
}

.experts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    &__list + &__content {
        margin-left: 30px;
    }

    &__content {
        max-height: 850px;
        overflow-y: scroll;
        padding-right: 5px;

        /* width */
        &::-webkit-scrollbar {
            width: 2px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background-color: $lightPinkColor;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $lightGrayColor;
            width: 4px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }

    &__list {
        min-width: 296px;
        list-style-type: none;
        // white-space: nowrap;
    }

    &__list-item,
    .expert {
        border: 1px solid $lightGrayColor;
    }

    &__list-item:not(:last-of-type),
    .expert:not(:last-of-type) {
        border-bottom: none;
    }

    &__link {
        display: block;
        padding: 12px;
        color: #000;
        text-transform: uppercase;
        text-decoration: none;
        transition: 0.3s;

        &.active,
        &:hover {
            color: #fff;
            background-color: $accentColor;
        }
    }

    &__link,
    .expert {
        background-color: $lightPinkColor;
    }
}

.expert {
    display: flex;
    padding: 20px;

    &__left + &__right {
        margin-left: 15px;
    }

    &__left {
        width: 112px;
    }

    &__photo {
        display: block;
        width: 100%;
        width: 115px;
    }

    &__name,
    &__email {
        margin-bottom: 10px;
    }

    &__name {
        font-size: 25px;
    }

    &__email > a {
        color: $lightGrayColor;
    }

    &__position {
        font-weight: normal;
    }

    &__about {
        line-height: 1.5;
    }
}

.announce {
    margin-bottom: 20px;

    .accent-news__item {
        height: 330px;
    }
}

.interview {
    &__text {
        margin-bottom: 25px;
        display: block;
    }

    &__ttl {
        margin-bottom: 20px;
    }

    &__inner {
        padding: 20px;
        background-color: $lightPinkColor;
    }

    &__group {
        display: block;
        padding: 10px 20px;
        border-top: 1px solid $lightGrayColor;
        cursor: pointer;
    }

    &__group:last-of-type {
        margin-bottom: 25px;
        border-bottom: 1px solid $lightGrayColor;
    }

    //custom radio buttons
    &__label::after,
    &__label::before {
        top: 50%;
        transform: translateY(-50%);
    }

    &__radio:checked,
    &__radio:not(:checked) {
        position: absolute;
        left: -9999px;
    }

    &__radio:checked + label,
    &__radio:not(:checked) + label {
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        display: inline-block;
    }

    &__radio:checked + label:before,
    &__radio:not(:checked) + label:before {
        content: "";
        position: absolute;
        left: 0;
        width: 10px;
        height: 10px;
        border: 1px solid $mainColor;
        border-radius: 50%;
        background: transparent;
    }

    &__radio:checked + label:after,
    &__radio:not(:checked) + label:after {
        content: "";
        width: 8px;
        height: 8px;
        background: $mainColor;
        position: absolute;
        left: 2px;
        border-radius: 50%;
        transition: 0.3s ease;
    }

    &__radio:not(:checked) + label:after {
        opacity: 0;
        transform: scale(0);
    }

    &__radio:checked + label:after {
        opacity: 1;
        transform: translateY(-50%) scale(1);
    }

    //end custom radio
    &__btn {
        width: 100%;
        padding: 5px;
        font-size: 20px;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        transition: 0.3s;

        &:hover {
            background-color: lighten($mainColor, 10);
        }
    }
}

.subscribe {
    margin-top: 30px;
    padding: 20px;
    background-color: $lightPinkColor;

    &__form {
        max-width: 480px;
        margin: auto;

        .form__email {
            width: 100%;
        }
    }

    &__socials {
        max-width: 262px;
        margin: 15px 0;
    }

    &__ttl {
        font-size: 20px;
        font-weight: normal;
        @include textUnderlined();
        padding-top: 0;
        margin-bottom: 18px;
    }

    &__form {
        border: none;
        margin-bottom: 18px;
    }

    .form__group {
        display: flex;
    }

    .form__submit {
        display: inline-block;
        padding: 6px 12px;
        background-color: $accentColor;
        color: #fff;
        font-size: 16px;
        transition: 0.3s;

        &:hover {
            background-color: lighten($accentColor, 10);
        }
    }
}

.form {
    &__email {
        padding: 5px 12px;
        border: 1px solid $lightGrayColor;
        background-color: #fff;
    }

    &__email::placeholder {
        color: $lightPinkColor;
    }
}

.socials--bg {
    .socials__link {
        margin-right: 0;
    }

    .fa,
    .fab,
    svg {
        display: inline-flex;
        padding: 8px;
        width: 39px !important;
        height: 39px;
        justify-content: center;
        align-items: center;
    }

    .fa-facebook-f {
        background-color: #1e4fac;
    }

    .fa-youtube {
        background-color: #f93232;
    }

    .fa-instagram {
        background-color: #1e4fac;
        background: radial-gradient(circle at 84% 5%, #fdf497 0%, #fdf497 0%, #fd5949 56%, #d6249f 68%, #285aeb 126%);
    }

    .fa-telegram-plane {
        background-color: #1ba4d3;
    }

    .fa-viber {
        background-color: #5f3d99;
    }
}

.more-interesting {
    overflow: hidden;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 214px;

    &__ttl {
        margin-bottom: 30px;
        font-size: 25px;
        text-transform: uppercase;

        @media screen and (max-width: 990px) {
            font-size: 20px;
            line-height: 2;
        }

        .font-inherit {
            font-weight: inherit;
        }

        a {
            padding: 10px 0;
            position: relative;
            font-weight: normal;
            color: inherit;
            text-decoration: none;
            transition: padding-bottom 0.3s;
        }

        a:hover {
            padding-bottom: 3px;
        }

        a::after {
            content: "";
            position: absolute;
            background-color: $accentColor;
            height: 2px;
            width: 100%;
            left: 0;
            bottom: 0;
        }
    }

    &__btn {
        position: relative;
        min-width: 238px;
        padding: 10px;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        font-size: 16px;
        color: #fff;
        background-color: $accentColor;
        transition: background-color 0.3s;

        &:hover {
            background-color: darken($accentColor, 15);
        }

        &::after,
        &::before {
            content: "";
            position: absolute;
            width: 200px;
            height: 1px;
            top: 50%;
            transform: translateY(-50%);
            background: $lightGrayColor;
        }

        &::before {
            left: -92%;
        }

        &::after {
            right: -92%;
        }
    }
}

.last-news {
    .side-news {
        background-color: #fff;
    }

    &__tag {
        position: relative;

        &::after {
            content: "\203A";
        }
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
    }

    &__left {
        width: 70%;
    }

    &__right {
        width: 30%;
    }

    &__inner {
        display: grid;
        grid-gap: 20px 30px;
        grid-template-columns: repeat(auto-fit, 182px);
        grid-auto-rows: 152px;
    }

    &__item {
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
    }

    img {
        display: block;
        width: 100%;
    }

    &__date {
        color: $accentColor;
        svg,
        i {
            margin-right: 3px;
            // height: 8px;
            transform: scale(0.6);
            vertical-align: bottom;
        }
    }

    &__sub-ttl {
        margin-top: 4px;
        font-size: 12px;
        color: $lightGrayColor;
    }
}

.sidebar .side-news {
    &__inner {
        padding-top: 10px;
        &.scrolled.h-400 {
            max-height: 400px;
        }
    }
}

.side-news {
    &__ttl {
        padding: 8px 12px;
        font-family: $base-font-medium;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: normal;
        transition: 0.3s;
        text-decoration: underline;
        text-decoration-color: transparent;
    }
    &--white-bg {
        background-color: #fff;
    }
    &--main-bg {
        .side-news__item .side-news__text {
            transition: none;
        }
        .side-news__item:hover .side-news__text {
            text-decoration: none;
        }

        .side-news__item:hover .side-news__ttl {
            text-decoration-color: inherit;
        }
    }

    &--main-bg {
        .side-news__right .side-news__ttl {
            padding: 0;
            font-family: $second-font;
            font-size: 18px;
        }

        .side-news__text {
            margin-bottom: 5px;
        }

        background-color: $mainColor;

        .side-news__inner {
            padding: 0 20px;
        }

        .side-news__item {
            padding: 20px 0;
            min-height: 110px;
            border-color: #8592a1;
            color: #fff;
        }
    }

    &__inner {
        padding: 0 10px;

        &-b {
            max-height: 530px;
        }
        &-b.h-350 {
            max-height: 350px;
        }
    }

    &__item,
    &__item:first-of-type {
        border-top: 1px solid $lightGrayColor;
    }

    &__item {
        padding: 12px 0;
        min-height: 88px;
        display: flex;
        text-decoration: none;
        color: inherit;

        &:hover .side-news__text {
            text-decoration-color: inherit;
        }
    }

    &__left {
        width: 110px;
        margin-right: 20px;
    }

    &__right {
        width: calc(100% - 130px);
    }

    & img {
        display: block;
        width: 100%;
    }

    &__text {
        text-decoration: underline;
        text-decoration-color: transparent;
        line-height: 1.4;
        transition: text-decoration-color 0.3s;
    }
}
.bg-white {
    background-color: #fff;
}
.sidebar-tags {
    margin-top: 35px;
    &__inner {
        display: flex;
        flex-flow: row wrap;
    }
    .tag {
        color: $lightGrayColor;
        background-color: #f2f2f2;
        transition: background-color 0.3s;
    }
    .tag:hover {
        background-color: darken(#f2f2f2, 15);
    }
}

.p-y-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.p-y-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.mt-25 {
    margin-top: 25px;
}

.orange-top-line {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 30px;
        height: 2px;
        background-color: $accentColor;
    }
}

.adaptive-img {
    display: block;
    width: 100%;
    height: auto;
}

.news-text {
    &__ttl {
        margin: 10px 0;
        font-size: 18px;
        font-family: $second-font;
    }
    &__img {
        margin-bottom: 25px;
    }
    &__contents {
        margin: 15px 0;
        font-size: 16px;
    }
    &__contents--accent {
        color: $mainColor;
        font-family: $base-font-medium;
        font-weight: 600;
    }
}

.similar {
    margin-top: 40px;
    margin-bottom: 50px;
    &__ttl {
        font-size: 20px;
        @include textUnderlined();
    }
    &__inner {
        display: grid;
        grid-gap: 15px 20px;
        grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    }
    &__item {
        display: flex;
        height: 164px;
        text-decoration: none;
        color: inherit;
        .similar__item-ttl {
            text-decoration: underline;
            text-decoration-color: transparent;
            transition: 0.3s;
        }
        &:hover .similar__item-ttl {
            text-decoration-color: inherit;
        }
    }
    &__item-ttl {
        font-size: 18px;
        font: $second-font;
    }
    &__item-left {
        flex-shrink: 0;
        width: 193px;
    }
    &__item-img {
        height: 100%;
        width: auto;
    }
    &__item-right {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 10px;
        background-color: $lightPinkColor;
    }
}

.attention {
    position: relative;
    margin: 40px 75px 30px 90px;
    padding: 15px 10px 15px 25px;
    font-family: $base-font-medium;
    font-weight: 600;
    color: $lightGrayColor;
    border: 1px solid;
    border-right: none;
    border-left: none;
    &::before {
        content: "";
        width: 20px;
        height: 20px;
        position: absolute;
        top: 10px;
        left: 0;
        background: url("../../../images/nonoptimised/sprite3.png") no-repeat 0 0;
    }
}

.news-video {
    width: 100%;
    display: flex;
    .video-block-wrap {
        width: 100%;
    }
    &__ttl {
        @include textUnderlined();
        padding-top: 0;
        font-size: 20px;
    }
    &__sub-ttl {
        margin: 20px 0;
        font-size: 24px;
        font-family: $second-font-medium;
        font-weight: 600;
    }
    &__top {
    }
    &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 30px;
        width: 100%;
        max-width: 400px;
    }

    &__desc {
        padding: 5px 0;
        font: 16px/1.4 $base-font-medium;
        &::before {
            content: "\2022";
            font-size: 20px;
            font-family: $base-font;
        }
    }
    &__desc:not(:last-of-type) {
        border-bottom: 1px solid $lightGrayColor;
    }

    .subscribe__socials {
        margin-bottom: 0;
    }
}

.gallery-news {
    &__top {
        height: 477px;
        margin-bottom: 20px;
        .accent-news__item {
            height: 100%;
        }
    }
    &__bottom {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fit, 190px);
        grid-auto-rows: 150px;
        .video-block {
            height: 100%;
        }
        &-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            overflow: hidden;
        }
    }
}

.contacts {
    background-color: $lightPinkColor;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__left,
    &__right {
        width: calc(50% - 20px);
    }
    &__left {
        margin-right: 40px;
    }
    &__ttl {
        @include textUnderlined();

        display: inline-block;
        min-width: 100px;
        font-weight: normal;
    }
    &__text {
        margin-bottom: 10px;
        line-height: 1.5;
    }
    &__form {
        max-width: none;
        border: none;
    }
    .form__group {
        margin-bottom: 15px;
        &--50 {
            width: 50%;
        }
        &--50:not(:last-of-type) {
            margin-right: 20px;
        }
    }
    .form__label {
        display: block;
        margin-bottom: 5px;
        font-size: 18px;
    }
    .form__input,
    .form__textarea {
        padding: 5px 10px;
        background-color: #fff;
        border: 1px solid $lightGrayColor;
        &::placeholder {
            color: $lightGrayColor;
        }
    }

    .form__input {
        display: block;
        width: 100%;
    }
    .form__textarea {
        display: block;
        width: 100%;
        height: 95px;
        resize: none;
        color: $lightGrayColor;
    }
    .form__desc {
        color: #8592a1;
    }
    .form__button {
        margin-top: 25px;
        padding: 5px 10px;
        background-color: #8592a1;
        color: #fff;
    }
}

.map {
    height: 302px;
    width: 100%;
    iframe {
        height: 100%;
        width: 100%;
    }
}
