.post-date {
    color: #000;

    &__text {
        color: $lightGrayColor;
    }
}

.section-top {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    text-transform: uppercase;

    &__ttl,
    &__current {
        font-family: $base-font-medium;
        font-weight: normal;
        font-size: 20px;
    }

    &__ttl {
        padding: 8px 12px;
        color: #fff;
        background-color: $accentColor;
    }

    &__current {
        margin-left: 5px;
        align-self: stretch;
        &::before {
            content: "\203A";
            line-height: 1;
            margin: 5px;
            font: inherit;
            font-size: 28px;
        }
    }
}
.news-text__contents img:not(:last-of-type) {
    margin-bottom: 20px;
}
.new-posts {
    &--fix-height {
        max-height: 1408px;
        overflow-y: scroll;
        padding-right: 5px;
        scroll-behavior: smooth;
        &.h1634 {
            max-height: 1634px;
        }
        &.h1190 {
            max-height: 1190px;
        }
        &::-webkit-scrollbar {
            width: 2px;
        }
        &::-webkit-scrollbar-track {
            background-color: $lightPinkColor;
        }
        &::-webkit-scrollbar-thumb {
            background: $lightGrayColor;
            width: 4px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }
    &-white-bg .scrolled {
        max-height: 1030px;
    }

    &-white-bg .new-posts__item {
        background-color: #fff;
        height: 160px;
    }

    &-white-bg .new-posts__item:not(:last-of-type) {
        margin-bottom: 15px;
    }

    &__item {
        height: 184px;
        display: flex;
        background-color: $lightPinkColor;
        text-decoration: none;
        color: initial;
        .new-posts__text {
            text-decoration: underline;
            text-decoration-color: transparent;
            transition: 0.3s;
        }
        & .new-posts__text:hover {
            text-decoration-color: inherit;
        }
    }

    &__item:not(:last-of-type) {
        margin-bottom: 20px;
    }

    &__left {
        width: 47.47%;
        overflow: hidden;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__right {
        width: 52.52%;
        padding: 8px 30px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    &__ttl {
        font-size: 18px;
        font-weight: normal;
        @include textUnderlined();
        margin-bottom: 10px;
        line-height: 1.5;
    }

    &__text {
        margin-bottom: 5px;
        line-height: 1.5;
        color: #000;
    }
}
.subscribe.p-0 {
    padding: 0;
}
.swiper-paging {
    overflow: hidden;
}
.projects-block {
    &__inner-bottom {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    &__inner {
    }
    &__b {
        margin-top: 50px;
        .projects-block__item {
            height: 260px !important;
        }
        .projects-block__right::after {
            display: none;
        }
    }
    &__item {
        height: 202px;
        display: flex;
        background-color: $lightPinkColor;
        text-decoration: none;
        color: initial;
        .projects-block__text {
            text-decoration: underline;
            text-decoration-color: transparent;
            transition: 0.3s;
        }
        & .projects-block__text:hover {
            text-decoration-color: inherit;
        }
    }

    &__item:not(:last-of-type) {
        margin-bottom: 20px;
    }

    &__left {
        width: 39.4%;
        overflow: hidden;

        img {
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &__right-b {
        display: flex;
        align-items: center;
        max-width: 260px;
    }
    &__right {
        position: relative;
        width: 61.6%;
        padding: 8px 30px;
        padding-bottom: 15px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        &::after {
            content: "";
            position: absolute;
            bottom: 30px;
            left: 30px;
            right: 30px;
            height: 1px;
            background-color: #8592a1;
        }
        .projects-block__ttl::before {
            max-width: 215px;
        }
    }

    &__ttl {
        font-size: 18px;
        font-weight: normal;
        @include textUnderlined();
        margin-bottom: 10px;
    }
    &__inner-text {
        padding: 10px 0;
        line-height: 1.5;
    }
    &__inner-ttl {
        padding: 10px 0;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: normal;
        border-bottom: 1px solid #8592a1;
    }
    &__text {
        margin-bottom: 5px;
        line-height: 1.5;
        color: #000;
    }
}
.projects-block__top .projects-block__item {
    .projects-block__right {
        justify-content: flex-start;
    }
}
.check {
    color: $accentColor;
    margin-right: 5px;
}

.main {
    width: calc(100% - 430px);

    .section-top {
        margin-bottom: 25px;
    }
}

.dflex-spaceb {
    display: flex;
    justify-content: space-between;
    padding: 55px 15px;
}

.b-video {
    display: grid;
    align-items: flex-start;
    display: block;
    &::after {
        content: "";
        display: block;
        clear: both;
    }
    margin-bottom: 50px;
    .subscribe__socials {
        margin-bottom: 0;
    }
    .news-video__right {
        margin-left: 0;
        margin-bottom: 15px;
        float: right;
        max-width: calc(100% - 430px);
    }
    grid-gap: 20px 30px;
    .news-video {
        margin-bottom: 15px;
        float: left;
        max-width: calc(100% - 430px);
    }

    .news-video__right {
        width: 400px;
        margin-left: 30px;
    }
    .similar {
        margin-bottom: 0;
        float: left;
        max-width: calc(100% - 430px);
        width: 100%;
    }
    .sidebar {
        float: right;
        clear: right;
    }
}

.sidebar {
    width: 400px;
    flex-shrink: 0;
}

.main + .sidebar {
    margin-left: 30px;
}

.about-us {
    &__ttl {
        @include textUnderlined();
    }
    &__inner {
        display: flex;
        flex-flow: row wrap;
    }

    &__item {
        display: flex;
        height: 164px;
        width: calc((100% - 16px) / 2);
        margin-bottom: 20px;

        &:not(:nth-of-type(even)) {
            margin-right: 16px;
        }

        background-color: $lightPinkColor;

        &-left {
            width: 44%;
        }

        &-left img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &-right {
            width: 56%;
            padding: 15px;
        }

        &-ttl {
            margin-bottom: 10px;
            font-size: 18px;
            @include textUnderlined();
            padding-top: 0;
        }

        &-text {
            margin-bottom: 5px;
            font-size: 14px;
            color: inherit;
            display: block;
            text-decoration-color: transparent;
            line-height: 1.5;
            transition: text-decoration-color 0.3s;
        }
        &-text:hover {
            text-decoration-color: inherit;
        }
    }
}

.p-50 {
    padding: 50px 0;
}

.error {
    min-height: 620px;
    padding-left: 10px;
    padding-right: 10px;
    background: url("../../../images/nonoptimised/rozetka.svg") no-repeat center 20px / 150% $lightPinkColor;
    text-align: center;
    @media screen and (max-width: 600px) {
        min-height: 0;
    }
    &__ttl {
        margin-top: 40px;
        font-size: 109px;
        color: $accentColor;

        @media screen and (max-width: 990px) {
            font-size: 80px;
        }

        @media screen and (max-width: 600px) {
            font-size: 45px;
        }
    }

    &__sub-ttl,
    &__text {
        max-width: 400px;
        margin: auto;
        color: $mainColor;
        font-size: 20px;
    }

    &__sub-ttl {
        margin-bottom: 30px;
        text-transform: uppercase;
    }

    &__text {
        margin-bottom: 30px;
    }
}

.soon {
    #mailpoet_form_1 form.mailpoet_form {
        margin-left: auto;
        margin-right: auto;
    }
    .subscribe__socials {
        margin-left: auto;
        margin-right: auto;
    }
    .subscribe {
        margin-top: 0;
    }
    text-align: center;
    background-color: $lightPinkColor;
    .soon__subscribe .soon__socials {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
    .subscribe__ttl {
        width: max-content;
        margin: 0 auto 20px;
    }

    &__ttl,
    &__sub-ttl {
        margin-bottom: 30px;
        text-transform: uppercase;
        font-weight: normal;
    }

    &__ttl {
        font-size: 28px;
        color: $mainColor;
        font-family: $base-font-light;
        font-weight: 300;
    }

    &__sub-ttl {
        font-size: 20px;
        color: $accentColor;
    }

    &__content {
        margin-bottom: 50px;
        background-color: #000;
    }

    &__inner {
        display: flex;
        max-width: 830px;
        margin: 0 auto;
    }

    &__item {
        width: 25%;
        padding: 30px 30px 15px;
        color: #fff;
    }

    &__item:not(:last-of-type) {
        border-right: 1px solid $lightGrayColor;
    }

    &__item-text,
    &__item-number {
        padding: 15px;
    }

    &__item-number {
        font-size: 114px;
        font-family: $base-font-medium;
        border-bottom: 1px solid $lightGrayColor;
    }

    &__item-text {
        font-size: 16px;
        text-transform: uppercase;
    }
}

.b-about {
    margin-bottom: 20px;
    &__inner {
        display: grid;
        grid-gap: 20px;
        -ms-flex-pack: justify;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }

    &__left {
        align-self: flex-start;
        .video-block {
            height: 100%;
        }
    }

    &__right {
        padding: 15px 15px 15px 30px;
        background-color: $lightPinkColor;
    }

    &__ttl {
        @include textUnderlined();
        font-size: 18px;
    }

    &__text {
        position: relative;
        padding-bottom: 8px;
        font-size: 14px;
        line-height: 1.5;

        &:not(:last-of-type)::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 1px;
            background-color: $lightGrayColor;
        }
    }
}

.redaction {
    &__ttl {
        @include mainText();
        text-transform: uppercase;
        font-family: $base-font-medium;
        font-size: 16px;
        border-left: 3px solid $accentColor;
        padding: 10px;
        margin-bottom: 30px;
    }
}

.article {
    padding: 10px 0;

    &__text {
        padding: 5px 0;
        font-size: 14px;
        line-height: 1.5;
    }
}
.middle__header_mobile_menu .currency {
    width: 120px;
}
.experts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    &__list + &__content {
        margin-left: 30px;
    }

    &__content {
        width: 100%;
        max-height: 780px;
        overflow-y: scroll;
        padding-right: 5px;
        scroll-behavior: smooth;

        &::-webkit-scrollbar {
            width: 2px;
        }
        &::-webkit-scrollbar-track {
            background-color: $lightPinkColor;
        }
        &::-webkit-scrollbar-thumb {
            background: $lightGrayColor;
            width: 4px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }

    &__list {
        min-width: 296px;
        list-style-type: none;
    }

    &__list-item,
    .expert {
        border: 1px solid $lightGrayColor;
        transition: background-color 0.3s;
        &.active {
            background-color: $lightGrayColor;
        }
    }

    &__list-item:not(:last-of-type),
    .expert:not(:last-of-type) {
        border-bottom: none;
    }

    &__link {
        display: block;
        padding: 12px;
        color: #000;
        text-transform: uppercase;
        text-decoration: none;
        transition: 0.3s;

        &.active,
        &:hover {
            color: #fff;
            background-color: $accentColor;
        }
    }

    &__link,
    .expert {
        background-color: $lightPinkColor;
    }
}

.expert {
    display: flex;
    padding: 20px;

    &__left + &__right {
        margin-left: 15px;
    }

    &__left {
        width: 112px;
    }

    &__photo {
        display: block;
        width: 100%;
        width: 115px;
    }

    &__name,
    &__email {
        margin-bottom: 10px;
    }

    &__name {
        font-size: 25px;
    }

    &__email > a {
        color: $lightGrayColor;
    }

    &__position {
        font-weight: normal;
    }

    &__about {
        line-height: 1.5;
    }
}

.announce {
    margin-bottom: 20px;

    .accent-news__item {
        height: 330px;
    }
}

.sidebar .interview {
    &__text {
        margin-bottom: 0;
        display: block;
    }

    &__ttl {
        margin-bottom: 20px;
    }

    &__inner,
    .dem-poll-shortcode {
        padding: 20px !important;
        background-color: $lightPinkColor !important;
    }

    &__group,
    .democracy ul.dem-vote li {
        display: block !important;
        padding: 10px 20px !important;
        border-top: 1px solid $lightGrayColor !important;
        cursor: pointer;
    }
    .democracy ul.dem-vote {
        margin-bottom: 0 !important;
    }
    .democracy ul.dem-vote li:last-of-type,
    &__group:last-of-type {
        margin-bottom: 25px !important;
        border-bottom: 1px solid $lightGrayColor !important;
    }

    //custom radio buttons
    &__label::after,
    &__label::before {
        top: 50%;
        transform: translateY(-50%);
    }

    &__radio:checked,
    &__radio:not(:checked) {
        position: absolute;
        left: -9999px;
    }

    &__radio:checked + label,
    &__radio:not(:checked) + label {
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        display: inline-block;
    }

    &__radio:checked + label:before,
    &__radio:not(:checked) + label:before {
        content: "";
        position: absolute;
        left: 0;
        width: 10px;
        height: 10px;
        border: 1px solid $mainColor;
        border-radius: 50%;
        background: transparent;
    }

    &__radio:checked + label:after,
    &__radio:not(:checked) + label:after {
        content: "";
        width: 8px;
        height: 8px;
        background: $mainColor;
        position: absolute;
        left: 2px;
        border-radius: 50%;
        transition: 0.3s ease;
    }

    &__radio:not(:checked) + label:after {
        opacity: 0;
        transform: scale(0);
    }

    &__radio:checked + label:after {
        opacity: 1;
        transform: translateY(-50%) scale(1);
    }
    .dem__checkbox:checked + .dem__spot:after,
    .dem__radio:checked + .dem__spot:after {
        background-color: $mainColor !important;
    }
    .dem__checkbox:checked + .dem__spot,
    .dem__radio:checked + .dem__spot {
        border-color: $mainColor !important;
        width: 12px !important;
        height: 12px !important;
    }
    .dem__checkbox_label .dem__spot,
    .dem__radio_label .dem__spot {
        border-color: $mainColor !important;
        width: 12px !important;
        height: 12px !important;
    }
    .dem__checkbox_label:hover .dem__spot:after,
    .dem__radio_label:hover .dem__spot:after {
        opacity: 1 !important;
    }
    .dem__radio_label {
        margin-bottom: 0 !important;
    }
    .dem__checkbox_label .dem__spot,
    .dem__radio_label .dem__spot {
        margin-right: 20px !important;
        background: transparent !important;
        border-color: $mainColor;
    }
    .dem__radio_label {
        font-size: 16px !important;
    }
    //end custom radio
    .democracy div.dem-bottom {
        padding-bottom: 0 !important;
    }
    &__btn,
    .dem-button {
        width: 100% !important;
        padding: 5px !important;
        font-size: 20px !important;
        text-transform: uppercase !important;
        color: #fff !important;
        text-align: center !important;
        transition: 0.3s !important;
        background-color: $mainColor !important;
        &:hover {
            background-color: lighten($mainColor, 10) !important;
        }
    }
    .dem-poll-title {
        @include textUnderlined();
        margin-top: 0 !important;
        font-weight: normal !important;
        padding-top: 0 !important;
        font-size: 18px !important;
    }
}
.b-last-videos--desc {
    align-items: stretch;
    .news-video__right {
        .socials__link {
            &.share {
                transform: scale(1.2);
                opacity: 1;
                color: #fff;
            }
            opacity: 0.2;
            transition: 0.3s;
            svg {
                vertical-align: baseline;
            }
            .fa-share-alt {
                font-size: 26px;
                vertical-align: sub;
            }
        }
        .socials__link:hover {
            opacity: 1;
        }
        .news-video__desc {
            padding: 5px 0;
            font: 16px/1.4 "Roboto-Medium", sans-serif;
        }

        .news-video__desc > ul > li::before {
            content: "\2022";
            font-size: 20px;
            padding-right: 5px;
            font-family: "Roboto-Regular", sans-serif;
        }

        .news-video__desc > ul > li {
            word-wrap: break-word;
        }

        .news-video__desc li:not(:last-of-type) {
            padding-bottom: 10px;
            border-bottom: 1px solid rgba(52, 74, 98, 0.3);
        }
        .block-date {
            color: #8592a1;
            .block-date__views {
                font-size: 12px;
            }
        }
        .news-video__ttl,
        .news-video__sub-ttl {
            color: #fff;
        }
        .news-video__desc {
            color: #c2c2c2;
        }
        .subscribe__socials {
            margin-bottom: 0;
        }
    }
}
.subscribe.m-y-0 {
    margin-top: 0;
    margin-bottom: 0;
}
.subscribe {
    margin-top: 30px;
    padding: 20px;
    background-color: $lightPinkColor;

    &__form {
        max-width: 480px;
        margin: auto;

        .form__email {
            width: 100%;
        }
    }

    &__socials {
        max-width: 262px;
        margin: 15px 0;
    }

    &__ttl,
    .dem-poll-title {
        font-size: 20px;
        font-weight: normal;
        @include textUnderlined();
        padding-top: 0;
        margin-bottom: 18px;
    }

    &__form {
        border: none;
        margin-bottom: 18px;
    }

    .form__group {
        display: flex;
    }

    .form__submit {
        display: inline-block;
        padding: 6px 12px;
        background-color: $accentColor;
        color: #fff;
        font-size: 16px;
        transition: 0.3s;

        &:hover {
            background-color: lighten($accentColor, 10);
        }
    }
}

.form {
    &__email {
        padding: 5px 12px;
        border: 1px solid $lightGrayColor;
        background-color: #fff;
    }

    &__email::placeholder {
        color: $lightPinkColor;
    }
}

.socials--bg {
    .socials__link {
        margin-right: 0;
    }

    .fa,
    .fab,
    svg {
        display: inline-flex;
        padding: 8px;
        width: 39px !important;
        height: 39px;
        justify-content: center;
        align-items: center;
    }

    .fa-facebook-f {
        background-color: #1e4fac;
    }

    .fa-youtube {
        background-color: #f93232;
    }

    .fa-instagram {
        background-color: #1e4fac;
        background: radial-gradient(circle at 84% 5%, #fdf497 0%, #fdf497 0%, #fd5949 56%, #d6249f 68%, #285aeb 126%);
    }

    .fa-telegram-plane {
        background-color: #1ba4d3;
    }

    .fa-viber {
        background-color: #5f3d99;
    }
}

.more-interesting {
    overflow: hidden;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 214px;

    &__ttl {
        margin-bottom: 30px;
        font-size: 25px;
        text-transform: uppercase;

        @media screen and (max-width: 990px) {
            font-size: 20px;
            line-height: 2;
        }

        .font-inherit {
            font-weight: inherit;
        }

        a {
            padding: 10px 0;
            position: relative;
            font-weight: normal;
            color: inherit;
            text-decoration: none;
            transition: padding-bottom 0.3s;
        }

        a:hover {
            padding-bottom: 3px;
        }

        a::after {
            content: "";
            position: absolute;
            background-color: $accentColor;
            height: 2px;
            width: 100%;
            left: 0;
            bottom: 0;
        }
    }

    &__btn {
        position: relative;
        min-width: 238px;
        padding: 10px;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        font-size: 16px;
        color: #fff;
        background-color: $accentColor;
        transition: background-color 0.3s;

        &:hover {
            background-color: darken($accentColor, 15);
        }

        &::after,
        &::before {
            content: "";
            position: absolute;
            width: 200px;
            height: 1px;
            top: 50%;
            transform: translateY(-50%);
            background: $lightGrayColor;
        }

        &::before {
            left: -92%;
        }

        &::after {
            right: -92%;
        }
    }
}

.last-news {
    .side-news {
        background-color: #fff;
    }

    &__tag {
        position: relative;

        &::after {
            content: "\203A";
        }
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
    }

    &__left {
        width: 70%;
    }

    &__right {
        width: 30%;
    }

    &__inner {
        display: grid;
        grid-gap: 20px 30px;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-auto-rows: 156px;
    }

    &__item {
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        text-decoration: none;
        .last-news__sub-ttl {
            text-decoration: underline;
            text-decoration-color: transparent;
            transition: 0.3s;
        }
        &-top {
            height: 104px;
        }
        &:hover .last-news__sub-ttl {
            text-decoration-color: inherit;
        }
    }

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__date {
        color: $accentColor;
        svg,
        i {
            margin-right: 3px;
            transform: scale(0.6);
            vertical-align: middle;
        }
    }

    &__sub-ttl {
        margin-top: 4px;
        font-size: 12px;
        color: $lightGrayColor;
    }
}

.sidebar .side-news {
    &__inner {
        padding-top: 10px;
        &.scrolled.h-400 {
            max-height: 400px;
        }
    }
}

.side-news {
    &__ttl {
        padding: 8px 12px;
        font-family: $base-font-medium;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: normal;
        transition: 0.3s;
        text-decoration: underline;
        text-decoration-color: transparent;
    }
    &--white-bg {
        background-color: #fff;
    }
    &--main-bg {
        .side-news__item .side-news__text {
            transition: none;
        }
        .side-news__item:hover .side-news__text {
            text-decoration: none;
        }

        .side-news__item:hover .side-news__ttl {
            text-decoration-color: inherit;
        }
    }

    &--main-bg {
        .side-news__right .side-news__ttl {
            padding: 0;
            font-family: $second-font;
            font-size: 18px;
        }

        .side-news__text {
            margin-bottom: 5px;
        }

        background-color: $mainColor;

        .side-news__inner {
            padding: 0 20px;
        }

        .side-news__item {
            padding: 20px 0;
            min-height: 110px;
            border-color: #8592a1;
            color: #fff;
        }
    }
    &--about {
        .side-news__item:hover {
            cursor: auto;
            .side-news__right .side-news__ttl {
                text-decoration-color: transparent;
            }
        }
        .side-news__right .side-news__ttl {
            text-transform: initial;
            color: #fff;
            text-decoration: underline !important;
            text-decoration-color: transparent !important;
            font-weight: normal;
            cursor: pointer;
            &:hover {
                text-decoration-color: #fff !important;
            }
        }
        .side-news__right {
            align-self: flex-start;
        }
        .side-news__text {
            color: #d6dbe0;
        }
        i,
        svg {
            margin-right: 5px;
            font-size: 15px;
            color: $accentColor;
        }
    }
    &__inner {
        padding: 0 10px;

        &-b {
            max-height: 530px;
        }
        &-b.h-350 {
            max-height: 350px;
        }
    }

    &__item,
    &__item:first-of-type {
        border-top: 1px solid $lightGrayColor;
    }

    &__item {
        padding: 12px 0;
        min-height: 88px;
        display: flex;
        text-decoration: none;
        color: inherit;

        &:hover .side-news__text {
            text-decoration-color: inherit;
        }
    }

    &__left {
        width: 110px;
        height: 76px;
        margin-right: 20px;
    }

    &__right {
        width: calc(100% - 130px);
    }

    & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__text {
        text-decoration: underline;
        text-decoration-color: transparent;
        line-height: 1.4;
        transition: text-decoration-color 0.3s;
    }
}
.bg-white {
    background-color: #fff;
}
.sidebar-tags {
    margin-top: 35px;
    &__inner {
        display: flex;
        flex-flow: row wrap;
    }
    .tag {
        color: $lightGrayColor;
        background-color: #f2f2f2;
        transition: background-color 0.3s;
    }
    .tag:hover {
        background-color: darken(#f2f2f2, 15);
    }
}

.p-y-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.p-t-0 {
    padding-top: 0;
}

.p-y-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.mt-25 {
    margin-top: 25px;
}

.orange-top-line {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 30px;
        height: 2px;
        background-color: $accentColor;
    }
}

.adaptive-img {
    display: block;
    width: 100%;
    height: auto;
}

.news-text {
    width: 100%;
    &__ttl {
        margin: 10px 0;
        font-size: 18px;
        font-family: $second-font;
    }
    &__img {
        margin-bottom: 25px;
    }
    &__contents {
        margin: 15px 0;
        line-height: 1.5;
        font-size: 16px;
    }
    &__contents--accent {
        color: $mainColor;
        font-family: $base-font-medium;
        font-weight: 600;
    }
}

.news-text__contents img {
    width: 100%;
    height: auto;
}

.similar {
    margin-bottom: 50px;
    &__ttl {
        font-size: 20px;
        @include textUnderlined();
        padding-top: 0;
    }
    &__inner {
        display: grid;
        grid-gap: 15px 20px;
        grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    }
    &__item {
        display: flex;
        height: 164px;
        text-decoration: none;
        color: inherit;
        .similar__item-ttl {
            text-decoration: underline;
            text-decoration-color: transparent;
            transition: 0.3s;
        }
        &:hover .similar__item-ttl {
            text-decoration-color: inherit;
        }
    }
    &__item-ttl {
        font-size: 18px;
        font: $second-font;
    }
    &__item-left {
        flex-shrink: 0;
        width: 40%;
    }
    &__item-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__item-right {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 10px;
        background-color: $lightPinkColor;
    }
}

.attention {
    position: relative;
    margin: 40px 75px 30px 90px;
    padding: 15px 10px 15px 25px;
    font-family: $base-font-medium;
    font-weight: 600;
    color: $lightGrayColor;
    border: 1px solid;
    border-right: none;
    border-left: none;
    &::before {
        content: "";
        width: 20px;
        height: 20px;
        position: absolute;
        top: 10px;
        left: 0;
        background: url("../../../#{$imgPath}/sprite3.png") no-repeat 0 0;
    }
}

.news-video {
    width: 100%;
    display: flex;
    .video-block-wrap {
        width: 100%;
    }
    &__ttl {
        @include textUnderlined();
        padding-top: 0;
        font-size: 20px;
    }
    &__sub-ttl {
        margin: 20px 0;
        font-size: 24px;
        font-family: $second-font-medium;
    }
    &__top {
    }
    &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 30px;
        width: 100%;
        max-width: 400px;
    }

    .news-video__desc {
        padding: 5px 0;
        font: 16px/1.4 "Roboto-Medium", sans-serif;
    }

    .news-video__desc > ul > li::before {
        content: "\2022";
        font-size: 20px;
        padding-right: 5px;
        font-family: "Roboto-Regular", sans-serif;
    }

    .news-video__desc > ul > li {
        word-wrap: break-word;
    }

    .news-video__desc li:not(:last-of-type) {
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(52, 74, 98, 0.3);
    }

    .subscribe__socials {
        margin-bottom: 0;
    }
}
.select-btn {
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 20px 8px 10px;
    background-color: #f2f2f2;
}
.section-top.section-top--fz {
    .section-top__ttl,
    .section-top__current {
        font-size: 16px;
    }
    .section-top__current::before {
        font-size: 25px;
    }
}
.b-video {
    .news-video__desc {
        padding: 5px 0;
        font: 16px/1.4 "Roboto-Medium", sans-serif;
    }

    .news-video__desc > ul > li::before {
        content: "\2022";
        font-size: 20px;
        padding-right: 5px;
        font-family: "Roboto-Regular", sans-serif;
    }

    .news-video__desc > ul > li {
        word-wrap: break-word;
    }

    .news-video__desc li:not(:last-of-type) {
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(52, 74, 98, 0.3);
    }
}

.gallery-news {
    &__top {
        height: 477px;
        margin-bottom: 20px;
        .accent-news__item {
            height: 100%;
        }
    }
    &__bottom {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(193px, 1fr));
        grid-auto-rows: 150px;
        .video-block {
            height: 100%;
        }
        &-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            overflow: hidden;
        }
    }
}

.contacts {
    background-color: $lightPinkColor;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__left,
    &__right {
        width: calc(50% - 20px);
    }
    &__left {
        margin-right: 40px;
    }
    &__ttl {
        @include textUnderlined();

        display: inline-block;
        min-width: 100px;
        font-weight: normal;
    }
    &__text {
        margin-bottom: 10px;
        line-height: 1.5;
    }
    &__form {
        max-width: none;
        border: none;
    }
    .form__group {
        margin-bottom: 15px;
        &--50 {
            width: 50%;
        }
        &--50:not(:last-of-type) {
            margin-right: 20px;
        }
    }
    .form__label {
        display: block;
        margin-bottom: 5px;
        font-size: 18px;
    }
    .form__input,
    .form__textarea {
        padding: 5px 10px;
        background-color: #fff;
        border: 1px solid $lightGrayColor;
        &::placeholder {
            color: $lightGrayColor;
        }
    }

    .form__input {
        display: block;
        width: 100%;
    }
    .form__textarea {
        display: block;
        width: 100%;
        height: 95px;
        resize: none;
        font-family: inherit;
        color: $lightGrayColor;
    }
    .form__desc {
        color: #8592a1;
    }
    .form__button {
        margin-top: 25px;
        padding: 5px 10px;
        background-color: #8592a1;
        color: #fff;
        &:hover {
            background-color: #8592a1;
        }
    }
}

.map {
    height: 302px;
    width: 100%;
    iframe {
        height: 100%;
        width: 100%;
    }
}
.all-projects {
    display: block;
    margin-bottom: 15px;
    margin-left: -10px;
    &::after,
    &::before {
        content: "";
        display: block;
        clear: both;
    }
    .accent-news__item {
        float: left;
        height: 444px;
        margin-left: 10px;
        margin-bottom: 20px;
        z-index: 1;
        &:nth-of-type(4n + 3),
        &:nth-of-type(4n + 4) {
            height: calc(222px - 10px);
        }
        &:nth-of-type(2) {
            width: calc(22% - 10px);
        }
        &:nth-of-type(3n),
        &:nth-of-type(4n),
        &:nth-of-type(3n + 4),
        &:nth-of-type(4n + 4),
        &:nth-of-type(8n + 11),
        &:nth-of-type(3n + 4) {
            width: calc(32% - 10px);
        }
        &:nth-of-type(1),
        &:nth-of-type(8n + 1),
        &:nth-of-type(8n + 6) {
            width: calc(46% - 10px);
        }
        &:nth-of-type(8n + 2) {
            width: calc(22% - 10px);
        }
        &:nth-of-type(8n + 5) {
            width: calc(22% - 10px);
        }
        &:nth-of-type(4n + 3) {
            width: calc(32% - 10px);
        }
        .tag {
            margin-bottom: 0;
        }
    }
}

.rubric {
    &-top-wrap {
        margin-top: 30px;
        background-color: #ececed;
    }
    &__link {
        margin-top: 10px;
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        font-family: $base-font-medium;
        color: #000;
        &::before {
            content: "\203A";
            font-size: 22px;
            vertical-align: -2px;
            margin-right: 10px;
        }
    }
    &__item {
        height: 200px;
        display: flex;
        background-color: #f3f3f3;
        text-decoration: none;
        color: initial;
        .rubric__text {
            text-decoration: underline;
            text-decoration-color: transparent;
            transition: 0.3s;
        }
        & .rubric__text:hover {
            text-decoration-color: inherit;
        }
    }

    &__item:not(:last-of-type) {
        margin-bottom: 15px;
    }

    &__left {
        width: 40%;
        overflow: hidden;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__right {
        width: 60%;
        padding: 8px 30px;
        padding-bottom: 33px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        &::after {
            content: "";
            border-bottom: 1px solid #8592a1;
            bottom: 30px;
            left: 8px;
            right: 8px;
        }
    }

    &__ttl {
        font-size: 18px;
        font-weight: normal;
        @include textUnderlined();
        margin-bottom: 10px;
    }

    &__text {
        margin-bottom: 5px;
        padding-bottom: 5px;
        line-height: 1.5;
        color: #000;
    }
}

.b-rubric {
    width: 100%;
    &__bottom {
        border-top: 1px solid #8592a1;
        .tag {
            font-size: 12px;
            margin-bottom: 0;
            padding: 0;
            margin-right: 5px;
            background-color: transparent;
            color: rgba(52, 74, 98, 0.3);
        }
    }
    &__item {
        height: 150px;
        display: flex;
        background-color: $lightPinkColor;
        text-decoration: none;
        color: initial;
        .b-rubric__text {
            text-decoration: underline;
            text-decoration-color: transparent;
            transition: 0.3s;
        }
        & .b-rubric__text:hover {
            text-decoration-color: inherit;
        }
    }

    &__item:not(:last-of-type) {
        margin-bottom: 20px;
    }

    &__left {
        width: 47.47%;
        overflow: hidden;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__right {
        width: 52.52%;
        padding: 5px 15px 5px 25px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    &__ttl {
        font-size: 18px;
        font-weight: normal;
        @include textUnderlined();
        padding: 10px 0 5px;
        margin-bottom: 10px;
        line-height: 1.4;
    }

    &__text {
        margin-bottom: 5px;
        line-height: 1.5;
        color: #000;
    }
}
.rubric-wrap {
    width: 100%;
    &-inner {
        display: flex;
        justify-content: space-between;
        padding: 10px 25px;
        padding-left: 0;
    }
    .main-nav {
        width: 160px;
    }
    .block-date {
        display: inline-block;
    }
}

.sidebar-last-video {
    margin-bottom: 20px;
    &__bottom {
        padding: 10px 15px 20px;
        background-color: $lightPinkColor;
    }
    &__ttl {
        font-size: 16px;
        line-height: 1.5;
        font-weight: normal;
        font-family: $second-font;
    }
    .section-top {
        display: flex;
        align-items: baseline;
        margin-bottom: 0;
        background-color: $accentColor;
    }
    .section-top__ttl,
    .section-top__current {
        font-size: 20px;
        line-height: 1.2;
        color: #fff;
        &::before {
            margin: 0;
            margin-right: 10px;
        }
    }
    .section-top__ttl {
        padding-right: 5px;
    }
    .section-top__current {
    }
}

.audience {
    margin-top: 40px;
    background-color: $lightPinkColor;
    &__ttl {
        padding: 8px 10px 8px 13px;

        color: #fff;
        text-transform: uppercase;
        font: normal 20px/1.2 $base-font-medium;
        background-color: $mainColor;
        border-left: 4px solid $accentColor;
    }

    &__inner {
        padding: 20px 15px 10px 15px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__left {
        width: 90px;
        height: 42px;
        flex-shrink: 0;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__right {
        padding: 2px 10px 2px 10px;
    }

    &__item {
        width: 100%;
        justify-content: flex-start;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        color: #000;
        text-decoration: none;
        &:hover {
            .audience__text {
                text-decoration-color: inherit;
            }
        }
    }

    &__text {
        line-height: 1.5;
        text-decoration: underline;
        text-decoration-color: transparent;
        transition: 0.3s;
    }
}

.fancybox__thumbs {
    display: none;
}

.documents {
    flex-flow: wrap;
    .section-top {
        align-items: flex-start;
        .section-top__ttl {
            flex-shrink: 1;
            margin-bottom: 25px;
        }
        .section-top__current {
            flex-shrink: 0;
        }
        .section-top__current::before {
            margin-right: 10px;
        }
    }
    margin-bottom: 30px;
    &__ttl {
        @include textUnderlined();
        font-weight: normal;
    }
    &__table {
        width: 100%;
        background-color: $lightPinkColor;
        border-collapse: collapse;
        td,
        th {
            width: 66%;
            padding: 8px 20px;
            border-top: 1px solid $lightGrayColor;
            border-left: 1px solid $lightGrayColor;
        }
        td + td,
        th + th {
            width: 34%;
            border-right: 1px solid $lightGrayColor;
            text-align: center;
        }
        tr:last-of-type {
            border-bottom: 1px solid $lightGrayColor;
        }
        th {
            padding-top: 30px;
            text-align: left;
            font-family: $base-font-bold;
        }
    }
}
.news-text__contents iframe {
    max-width: 100%;
    display: block;
    margin: 10px auto;
}
.news-text table {
    width: 100%;
    padding: 10px;
    margin: 20px auto 20px;
    background-color: #f2f2f2;
    border-collapse: collapse;
}
.news-text table td {
    padding: 8px 20px;
    border-top: 1px solid rgba(52, 74, 98, 0.3);
    border-left: 1px solid rgba(52, 74, 98, 0.3);
}
.news-text table td + td,
.news-text table th + th {
    border-right: 1px solid rgba(52, 74, 98, 0.3);
    text-align: center;
}
.news-text table tr:last-of-type {
    border-bottom: 1px solid rgba(52, 74, 98, 0.3);
}
@media screen and (max-width: 600px) {
    .news-text table td {
        padding: 0;
        word-break: break-word;
    }
}

.select {
    margin-bottom: 10px;
    padding: 8px 20px 8px 5px;
    font-size: inherit;
    border: none;
    background-color: $lightPinkColor;
    outline: none;
    text-transform: uppercase;
    border-right: 10px solid $lightPinkColor;
    margin-right: 18px;
    &__option {
        font-size: 14px;
        font-weight: normal;
    }
}

.certificates {
    &__img-wrap {
        text-align: center;
        img {
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
            &:not(:last-of-type) {
                margin-bottom: 20px;
            }
        }
    }
}

.mailpoet_form_columns {
}
.mailpoet_form_tight_container .mailpoet_form_columns {
    flex-wrap: nowrap !important;
}
.mailpoet_form_tight_container .mailpoet_form_column {
    flex-basis: auto !important;
}
#mailpoet_form_1 .mailpoet_form_column:not(:first-child) {
    margin-left: 0 !important;
}
#mailpoet_form_1 form.mailpoet_form {
    max-width: 600px;
}
.mailpoet_form_columns.mailpoet_paragraph.last .mailpoet_form_column:first-of-type {
    width: 68%;
    flex-basis: auto !important;
}
.mailpoet_form_columns.mailpoet_paragraph.last .mailpoet_form_column:last-of-type {
    width: 32%;
    flex-basis: auto !important;
    margin-left: none !important;
}
.mailpoet_text {
    background-color: #fff;
    border: 1px solid #999;
    padding: 7px !important;
    &::placeholder {
        color: #d6dbe0;
    }
}
.mailpoet_submit {
    padding: 5px 10px;
    background-color: $accentColor;
    font-size: 16px;
    color: #fff;
}
#mailpoet_form_1 form.mailpoet_form {
    padding: 0 !important;
    margin-bottom: 15px;
}

.texts {
    &__ttl {
        @include textUnderlined();
        margin-bottom: 20px;
        font-size: 20px;
    }
    &__sub-ttl {
        font-size: 16px;
        font-family: $second-font;
        color: $mainColor;
    }
    &__text {
        margin-top: 15px;
    }
}

.container > .container {
    padding-left: 0;
    padding-right: 0;
}

.hamburger {
    display: none;
    width: 28px;
    height: 25px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 9999;
}

.hamburger-line {
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #fff;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.1s ease-out;
}

.hamburger-line:not(:first-child) {
    margin-top: 7px;
}
.hamburger.active .hamburger-line-1 {
    transform: translateY(9px) rotate(-135deg);
}

.hamburger.active .hamburger-line-2 {
    opacity: 0;
    transform: translateX(-50%);
}
.hamburger.active .hamburger-line-3 {
    transform: translateY(-9px) rotate(-225deg);
}
