.footer {
    background: url("./../../../images/nonoptimised/footer-bg.jpg") center no-repeat;
    background-size: cover;

    &__list-item:nth-of-type(even) {
        margin-right: 0;
    }
    .last-videos {
        display: flex;
        flex-flow: row wrap;
        .footer__list-item {
            margin-bottom: 25px;
        }
    }
    &__list-item .last-videos__item {
        margin-bottom: 0;
    }
    &__list-item,
    .address__item {
        margin-bottom: 15px;
    }
    .address__item {
        text-decoration: underline;
        text-decoration-color: transparent;
        margin-bottom: 15px;
        transition: text-decoration 0.3s;
        &:hover {
            text-decoration-color: inherit;
        }
    }
    &__list-wrap {
        color: #fff;
    }
    &__ttl {
        @include textUnderlined();
        font-size: 20px;
    }
    &__sub-ttl {
        font-size: 20px;
        font-weight: normal;
    }
    &__text {
        line-height: 1.5;
        text-decoration: underline;
        text-decoration-color: transparent;
        transition: 0.3s;
        &:hover {
            text-decoration-color: #fff;
        }
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        background-color: $mainColor;
        font-size: 14px;
        color: #8592a1;
    }
    &__socials {
        .svg-inline--fa {
            opacity: 0.5;
        }
        .socials__link:hover .svg-inline--fa {
            opacity: 1;
        }
    }
    &__inner {
        display: flex;
        padding: 10px;
        justify-content: space-between;
    }
    &__list-wrap:not(:last-child) {
        margin-right: 30px;
    }
    &__list-wrap {
        align-items: flex-start;
        flex: 0 1 25%;
        text-decoration: none;
    }
    &__logo {
        padding: 25px 0;
    }

    .logo__img {
        margin-top: 15px;
    }
    .address__text {
        font-size: 20px;
    }
    &__address .address__item {
        color: #fff;
    }
    &__tags-wrap {
        display: flex;
        flex-flow: row wrap;
        .tag {
            background-color: $mainColor;
        }
        .tag:hover {
            background-color: darken($mainColor, 12);
        }
    }
    &__rights {
        line-height: 1;
    }
    &__rights + &__rights {
        position: relative;
        margin-left: 50px;
        padding-left: 40px;
    }
    &__rights + &__rights::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 80%;
        background-color: #8592a1;
    }
}
