
@font-face {
    font-family: 'Roboto-Regular';
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/Roboto-Regular.ttf');

}
@font-face {
    font-family: 'Roboto-Medium';
    font-weight: 600;
    font-style: normal;
    src: url('./fonts/Roboto-Medium.ttf');

}
@font-face {
    font-family: 'Roboto-Bold';
    font-weight: 700;
    font-style: normal;
    src: url('./fonts/Roboto-Bold.ttf');

}
@font-face {
    font-family: 'Roboto-Black';
    font-weight: 900;
    font-style: normal;
    src: url('./fonts/Roboto-Black.ttf');

}
@font-face {
    font-family: 'Roboto-Light';
    font-weight: 300;
    font-style: normal;
    src: url('./fonts/Roboto-Light.ttf');

}
@font-face {
    font-family: 'RobotoSlab-Regular';
    font-weight: 400;
    font-style: normal;
    src: url('./fonts/RobotoSlab-Regular.ttf');

}
@font-face {
    font-family: 'RobotoSlab-Medium';
    font-weight: 600;
    font-style: normal;
    src: url('./fonts/RobotoSlab-Medium.ttf');

}
@font-face {
    font-family: 'EuropeDemi';
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/EuropeDemi.ttf');
}
@font-face {
    font-family: 'Europe-Bold';
    font-weight: 700;
    font-style: normal;
    src: url('./fonts/Europe-Bold.ttf');

}
@font-face {
    font-family: 'seguisym';
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/seguisym.ttf');

}