/**
 * Colors #colors
 */

$body-bg: #061c38 !default;
$body-color:          #ffffff !default;
$body-second-color:   #152337 !default;
$active-color:        #ffc91c;
$active-color-hover:	#ffc91c;

$error-color:					#B03060;

$black-color:         #000000;
$white-color:         #fff;
$grey-color:  				#616161;

$color-light-grey:    rgba(34,36,38,.15);



/**
 * Form colors
 */
$error-form-color:  $error-color;



