/**
 * Colors #colors
 */

$mainColor: #354A62;
$accentColor: #F43200;
$darkGreyColor: #333333;  
$darkColor: #141417;  


$error-color: $accentColor;
/**
 * Form colors
 */
$error-form-color:  $error-color;



