@mixin accentText($padding: 5px, $bg: $accentColor) {
    padding: $padding;
    background: $bg;
    color: #fff;
}

@mixin mainText($padding: 5px, $bg: $mainColor) {
    padding: $padding;
    background: $bg;
    color: #fff;
}

@mixin textUnderlined() {
    position: relative;
    padding: 10px 0;
    margin-bottom: 20px;

    &::after,
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
    }

    &::before {
        height: 1px;
        left: 0;
        right: 0;
        background-color: #344a62;
    }

    &::after {
        height: 2px;
        width: 46px;
        left: 0;
        background-color: $accentColor;
    }
}

@mixin adapiveImgAbsolute {
    position: absolute;
    left: 50%;
    top: 50%;
    min-height: 100%;
    object-fit: cover;
    max-width: 100%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
}

// @mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
//     @font-face {
//         font-family: $font-family;
//         font-weight: $weight;
//         font-style: $style;
//         src: url('#{$fontPath}.eot');
//         src: url('#{$fontPath}.eot?#iefix') format('embedded-opentype'),
//         url('#{$fontPath}.woff') format('woff'),
//         url('#{$fontPath}.ttf') format('truetype');
//     }
// }