/**
 * Typography #typography
 */
// $fontPath: './fonts/';

// @include font-face('Roboto-Regular', $fontPath);
// @include font-face('Roboto-Medium', $fontPath);
// @include font-face('Roboto-Black', $fontPath);
// @include font-face('Roboto-Bold', $fontPath);
// @include font-face('Roboto-Light', $fontPath);

// @include font-face('RobotoSlab-Medium', $fontPath);
// @include font-face('RobotoSlab-Regular', $fontPath);

// @include font-face('arial', $fontPath);
// @include font-face('arialbd', $fontPath);

// @include font-face('Europe-Bold', $fontPath);
// @include font-face('EuropeDemi', $fontPath);
// @include font-face('EuropeDemi Normal', $fontPath);

// @include font-face('seguisym', $fontPath);


@font-face {
    font-family: 'Roboto-Regular';
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/Roboto-Regular.ttf') format('embedded-opentype');

}
@font-face {
    font-family: 'Roboto-Medium';
    font-weight: 600;
    font-style: normal;
    src: url('./fonts/Roboto-Medium.ttf') format('embedded-opentype');

}
@font-face {
    font-family: 'Roboto-Bold';
    font-weight: 700;
    font-style: normal;
    src: url('./fonts/Roboto-Bold.ttf') format('embedded-opentype');

}
@font-face {
    font-family: 'Roboto-Black';
    font-weight: 900;
    font-style: normal;
    src: url('./fonts/Roboto-Black.ttf') format('embedded-opentype');

}
@font-face {
    font-family: 'Roboto-Light';
    font-weight: 300;
    font-style: normal;
    src: url('./fonts/Roboto-Light.ttf') format('embedded-opentype');

}
@font-face {
    font-family: 'RobotoSlab-Regular';
    font-weight: 400;
    font-style: normal;
    src: url('./fonts/RobotoSlab-Regular.ttf') format('embedded-opentype');

}
@font-face {
    font-family: 'RobotoSlab-Medium';
    font-weight: 600;
    font-style: normal;
    src: url('./fonts/RobotoSlab-Medium.ttf') format('embedded-opentype');

}
@font-face {
    font-family: 'EuropeDemi';
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/EuropeDemi.ttf') format('embedded-opentype');

}
@font-face {
    font-family: 'Europe-Bold';
    font-weight: 700;
    font-style: normal;
    src: url('./fonts/Europe-Bold.ttf') format('embedded-opentype');

}
@font-face {
    font-family: 'seguisym';
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/seguisym.ttf') format('embedded-opentype');

}

    $base-font: 'Roboto-Regular', sans-serif;
    $base-font-medium: 'Roboto-Medium', sans-serif;
    $base-font-bold: 'Roboto-Bold', sans-serif;
    $base-font-light: 'Roboto-Light', sans-serif;
    $base-font-black: 'Roboto-Black', sans-serif;

    $second-font: 'RobotoSlab-Regular', sans-serif;
    $second-font-medium: 'RobotoSlabMedium', sans-serif;

    $third-font: 'EuropeDemi', sans-serif;
    $third-font-bold: 'Europe-Bold', sans-serif;

    $fourth-font: 'seguisym', sans-serif;

    $base-font-size: 14px;