/**
 * Typography #typography
 */

$base-font:                    'gilroyregular';
$base-font-italic:             'Open Sans italic', sans-serif;
$base-font-bold:               'gilroybold';
$second-font:                  'caveatregular';
$second-font-bold:             'Open Sans', sans-serif;
$second-font-italic:            'Open Sans', sans-serif;
$third-font:                    'Manrope', sans-serif;
$base-font-size:               14px;
