

    $base-font: 'Roboto-Regular', sans-serif;
    $base-font-medium: 'Roboto-Medium', sans-serif;
    $base-font-bold: 'Roboto-Bold', sans-serif;
    $base-font-light: 'Roboto-Light', sans-serif;
    $base-font-black: 'Roboto-Black', sans-serif;

    $second-font: 'RobotoSlab-Regular', sans-serif;
    $second-font-medium: 'RobotoSlabMedium', sans-serif;

    $third-font: 'EuropeDemi', sans-serif;
    $third-font-bold: 'Europe-Bold', sans-serif;

    $fourth-font: 'seguisym', sans-serif;

    $base-font-size: 14px;